gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Fastlane local config and credentials
fastlane/.env
fastlane/.env.*
!fastlane/.env.example
/play-store-service-account.json
